.theme-color{
  background-image: linear-gradient(white,yellow);
}
.mainImage{
  width: 400px;
  height: 300px;
}
.white{
  background-color: white;
}
.secondImage{
  width: 100%;
  height: auto;
  padding: 0 2px;
}
.ninjaSize{
  font-size: 60px;
}
.iconSize{
  width: 200px;
}
.greenText{
  color: rgb(0, 114, 0)
}
.yellow{
  background-color: yellow;
}
.fadeYellow{
  background-image: linear-gradient(yellow,white)
}
.darkYellow{
  background-color: rgb(252, 165, 4)
}
.row-outline{
outline: 2px solid white;
}
.justice{
  justify-content: center;
  align-items: flex-end;
}
.moveRight{
  justify-content: flex-end;
}
.pad-white {
  padding: 4px
}
.pad-lr-white {
  padding: 0px 4px;
  display: flex;
  align-items: stretch;
}
.pad-l{
  padding-left: 4px;
  padding-right: 0px;
}